body {
font-family: Arial, sans-serif;
background-color: #C0E8E8;

}
header {
background-color: #174C70;
color: white;
text-align: center;
padding: 1em 0;
}
nav ul {
background-color: #56A5EC;
overflow: hidden;
color: white;
padding: 0;
text-align: center;
margin: 0;
}
nav ul li {
display: inline;
padding: 20px;
}
nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}
main {
padding: 1em;
background-color: white;
margin: 1em;
border-radius: 20px;
}
footer {
background-color: #174C70;
color: white;
text-align: center;
padding: 1em 0;
position: fixed;
bottom: 0;
width: 100%;
}